footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
  width: 100vw;
  height: 442px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
}

.footer_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: #9234; */
  width: 1300px;
  height: 208px;
  margin-top: 200px;
}

.footer_up_cont {
  display: flex;
  justify-content: space-between;
  color: #c7c7c7;
  font-family: Involve;
  font-size: 18px;
  width: 1260px;
  /* align-self: center; */
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.54px;
}
.footer_link {
  display: flex;
  /* justify-content: center; */
  align-items: start;
  flex-direction: column;
}
.footer_title {
  width: 308px;
  height: 67px;
  flex-shrink: 0;
}

.footer_social_media_cont {
  display: flex;
  align-items: start;
  gap: 15px;
  flex-direction: column;
}
.footer_media {
  display: flex;
  gap: 14px;
}
.footer_link_2 {
  display: flex;

  align-items: start;
  flex-direction: column;
  width: 308px;
}
.footer_line {
  width: 1300px;
  height: 0.5px;
  background: #969696;
  margin-top: 40px;
}
.copyright_cont {
  display: flex;
  align-self: start;
  margin-left: 20px;
  margin-top: 30px;
  color: #c7c7c7;
  font-family: Involve;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.48px;
}

.footer_blocks {
  position: absolute;
  width: 1300px;
  height: 409px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #2272d4;
  margin-bottom: 500px;

  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 40px;
  padding-left: 103px;
  padding-top: 61px;
  gap: 38px;
}
.footer_blocks_left_bot {
  display: flex;
  align-items: center;
  gap: 43px;

  color: #fff;
  font-family: Involve;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 100% */
  letter-spacing: 0.66px;
}
.footer_blocks_left h1 {
  color: #fff;
  font-family: "Halvar Breitschrift";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 50% */
  text-transform: uppercase;
}
.footer_blocks_left {
  display: flex;
  flex-direction: column;
  gap: 201px;
}
.form {
  display: flex;
  flex-direction: column;

  width: 422px;
}

.input {
  width: 422px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  padding-left: 30px;

  color: #333;
  font-family: Involve;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.48px;

  margin-bottom: 23px;
}
.checkbox {
  width: 20px;
  height: 18.919px;
  flex-shrink: 0;
  padding: 0;
  margin-top: 2px;
}
.checkboxLabel {
  display: flex;
  color: #fff;
  font-family: Involve;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.42px;
  gap: 10px;
}
.link {
  text-decoration: underline;
}
.button {
  display: inline-flex;
  height: 58px;
  padding: 18px 58px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #fff;

  color: #fff;
  text-align: center;
  font-family: Involve;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 30px;
}
